body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 80%;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 30px;
  line-height: 1;
  letter-spacing: -1px;
  width: 80%;
}

input#message {
  padding: 1%;
  width: 98%;
  height: 30px;
  border: 1px solid #0095dd;
  font-size: 18px;
}
#chat {
  width: 96%;
  background: #ffffff;
  padding: 2%;
  list-style: none;
}

#chat > li {
  color: #0095dd;
  margin-bottom: 4px;
}

#chat > li > span {
  background: #0095dd;
  color: #ffffff;
  padding: 5px;
  width: 150px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}

#chat > li.own {
  color: gray;
}
