[Unit]
Description=Log-aggregator frontend service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm frontend
ExecStartPre=/usr/bin/docker pull quay.io/mateuszdyminski/frontend
ExecStart=/usr/bin/docker run --rm -p 9001:9001 --name frontend quay.io/mateuszdyminski/frontend
ExecStop=/usr/bin/docker stop frontend
