[Unit]
Description=Log-aggregator web service
After=docker.service
After=nsq-worker.service

[Service]
Restart=always
RestartSec=10s
ExecStartPre=-/usr/bin/docker ps -a -q | xargs docker rm
ExecStartPre=/usr/bin/docker pull quay.io/mateuszdyminski/web
ExecStart=/usr/bin/docker run --rm -e "PORT=8001" -e "TOPIC=topic1" -p 8001:8001 --link nsqWorker:nsqWorker --name web2 mateuszdyminski/web
ExecStop=/usr/bin/docker stop web2
