[Unit]
Description=NSQLookupDaemon

Requires=docker.service
Requires=etcd.service
Requires=nsqlookupd-discovery@%i.service

After=docker.service
After=etcd.service
Before=nsqlookupd-discovery@%i.service

[Service]
TimeoutStartSec=0

EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill nsqlookupd-%i
ExecStartPre=-/usr/bin/docker rm nsqlookupd-%i
ExecStartPre=/usr/bin/docker pull nsqio/nsq

ExecStart=/usr/bin/docker run --name nsqlookupd-%i \
                              -p ${COREOS_PRIVATE_IPV4}:4160:4160 \
                              -p ${COREOS_PRIVATE_IPV4}:4161:4161 \
                              nsqio/nsq \
                              /nsqlookupd --broadcast-address=${COREOS_PRIVATE_IPV4}

ExecStop=/usr/bin/docker stop nsqlookupd-%i

[X-Fleet]
Conflicts=nsqlookupd@*.service
