[Unit]
Description=Web server service on port %i

# Requirements
Requires=etcd.service
Requires=docker.service
Requires=web-discovery@%i.service

# Dependency ordering
After=etcd.service
After=docker.service
After=nsqd.service
Before=web-discovery@%i.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill web.%i
ExecStartPre=-/usr/bin/docker rm web.%i
ExecStartPre=/usr/bin/docker pull quay.io/mateuszdyminski/web
ExecStart=/usr/bin/docker run -e "HOST=%H" -e "PORT=%i" -e "NSQD_ADDR=${COREOS_PRIVATE_IPV4}:4150" --name web.%i -p ${COREOS_PRIVATE_IPV4}:80:%i quay.io/mateuszdyminski/web

# Stop
ExecStop=/usr/bin/docker stop web.%i

[X-Fleet]
# Don't schedule on the same machine as other Web instances
Conflicts=web@*.service
